
<nav id="navigation" class="navbar navbar-inverse" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a id="logo" class="navbar-brand" href="/">
        	<div></div>
        </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul id="navlinks" class="nav navbar-nav">
        
        	<li><a href="/#services_marker">Services</a></li>
        	<li><a href="/#process_marker">Process</a></li>
        	<li><a href="/#knowhow_marker">Kern-Kompetenzen</a></li>
        	<li><a href="/burndownChart.html">Transparenz</a></li>
        	<!-- <li><a href="/blog/index.html">Unser Blog</a></li> -->
        </ul>
    </div>
    <!-- /.navbar-collapse -->
</nav>
