
<ul>                            	




	<!-- slide 1 -->
    <li class="slide1" data-transition="slotzoom-horizontal" data-slotamount="5"  data-masterspeed="300">
        <!-- slide 1 main image -->
        <img alt="" src="img/slide1.jpg" />
        <div class="caption sft" data-x="15" data-y="60" data-speed="2500" data-start="1000" data-easing="easeInBack">
            <!-- slide 1 caption 1 -->
            <p class="cap-1"><strong>phirea</strong> ist ein Software-Entwicklungsunternehmen.</p>
        </div>
        <div class="caption sfl" data-x="15" data-y="100" data-speed="1500" data-start="1000" data-easing="easeInBack">
            <!-- slide 1 caption 2 -->
            <p class="cap-2"><span>Wir entwickeln</span><br /><span>komplexe IT-Systeme</span><br /></p>
        </div>
        <div class="caption sfl" data-x="15" data-y="250" data-speed="1500" data-start="1000" data-easing="easeInBack">
            <!-- slide 1 caption 3 -->
            <p class="cap-3">Hauptsächlich fürs Web und Mobile.<br /> 
                Dafür nutzen wir moderne Methoden, Vorgehen und Technologien.</p>
        </div>
    </li>
    <!-- /end slide 1 -->
    
    
	<!-- slide 2 -->
    <li class="slide2" data-transition="boxfade" data-slotamount="5"  data-masterspeed="300">
        <!-- slide 2 main image -->
        <img alt="" src="img/slide2.jpg" />
        <div class="caption sft" data-x="15" data-y="40" data-speed="1500" data-start="400" data-easing="easeInBack">
            <!-- slide 2 caption 1 -->
            <p class="cap-1">Wir richten uns nach Agilen-Prinzipien<br />und Arbeiten eng mit unseren Kunden.</p>
        </div>
        <div class="caption sfl" data-x="15" data-y="115" data-speed="1500" data-start="700" data-easing="easeInBack">
            <!-- slide 2 caption 2 -->
            <p class="cap-2"><span>Agile- & Lean</span><br /><span>Prinzipien</span></p>
            
        </div>
        <div class="caption sfl" data-x="15" data-y="235" data-speed="1500" data-start="1000" data-easing="easeInBack">
            <!-- slide 2 caption 3 -->
            <p class="cap-3">Unsere Lösungen entsprechen der Kundenerwartung von Anfang an <br />
            	und Dank dem iterativen und inkrementellen Vorgehen, <br /> 
            	wird jederzeit funktionierende Software ausgeliefert.
            	</p>
        </div>
        <!-- 
        <div class="caption sfr" data-x="480" data-y="40" data-speed="2000" data-start="700" data-easing="easeInOutBack">
            <p class="old-gantt">
            	<span class="cap-old-gantt">Früher: starre Pläne
            	</span>
            </p>
            <img src="img/slide2_gantt.png" alt="" />
        </div>
         -->
        <div class="caption sfb" data-x="520" data-y="15" data-speed="2000" data-start="1600" data-easing="easeInBack">
            <!-- slide 2 layer image 1 -->
            <!-- <p class="new-agile">
            	<span class="cap-new-agile">Iteratives Management
            	</span>
            </p> -->
            <!-- <a href="http://visual.ly/lean-startup" target="_blank"><img src="img/slide2_agile_lean.png" alt="" /></a> -->
            <div class='visually_embed' data-category='Business' rel='infographic'>
				<img class='visually_embed_infographic' src='http://thumbnails.visually.netdna-cdn.com/the-lean-startup_50291668aa9bb_w387.png' rel='http://thumbnails.visually.netdna-cdn.com/the-lean-startup_50291668aa9bb.png' alt='The Lean Startup' />
				<a id='visually_embed_view_more' target='_blank' href='http://visual.ly/lean-startup?utm_source=visually_embed'></a>
				<link rel='stylesheet' type='text/css' href='http://visual.ly/embeder/style.css' />
				<script type='text/javascript' src='http://visual.ly/embeder/embed.js'></script>
			</div>
            
        </div>
        
    </li>
    <!-- /end slide 2 -->

    
    <!-- slide 3 -->
    <li class="slide3" data-transition="boxfade" data-slotamount="5"  data-masterspeed="300">
        <!-- slide 3 main image -->
        <img alt="" src="img/slide3.jpg" />
        <div class="caption sfl" data-x="15" data-y="115" data-speed="1500" data-start="1000" data-easing="easeInBack">
            <!-- slide 3 caption 2 -->
            <p class="cap-2"><span>Enge Zusammenarbeit</span><br />
            				<span>mit dem Kunden.</span>
            </p>
        </div>
        <div class="caption sfl" data-x="15" data-y="235" data-speed="1500" data-start="1000" data-easing="easeInBack">
            <!-- slide 3 caption 3 -->
            <p class="cap-3">
            	Wir pflegen respektvolle und produktive Partnerschaften mit unseren Kunden: <br />
            </p>
            <p class="cap-3">
            	Wir hören genau zu, um die Bedürfnisse zu verstehen. <br />
            	Wir arbeiten hart, um die Erwartungen zu übertreffen.
            </p>
        </div>
        <!-- <div class="caption sfb" data-x="480" data-y="75" data-speed="2000" data-start="1000" data-easing="easeInBack">
            <img src="img/devices.png" alt="" />
        </div> -->
    </li>
    <!-- /end slide 3 -->
    
    <!-- slide 4 -->
    <li class="slide4" data-transition="slotzoom-vertical" data-slotamount="5"  data-masterspeed="300">
        <!-- slide 3 main image -->
        <img alt="" src="img/slide4.jpg" />
        <div class="caption sfl" data-x="15" data-y="115" data-speed="1500" data-start="1000" data-easing="easeInBack">
            <!-- slide 3 caption 2 -->
            <p class="cap-2"><span>Wir liefern</span><br />
            				<span>Ergebnisse sofort.</span>
            </p>
        </div>
        <div class="caption sfl" data-x="15" data-y="235" data-speed="1500" data-start="1000" data-easing="easeInBack">
            <!-- slide 3 caption 3 -->
            <p class="cap-3">Dank unserer Vorgehensweise, Werkzeugen und Infrastruktur, <br /> 
            	hat der Kunde ab Tag eins Zugang zur funktionierender Software.</p>
        </div>
        <div class="caption sfb" data-x="480" data-y="75" data-speed="2000" data-start="1000" data-easing="easeInBack">
            <img src="img/devices.png" alt="" />
        </div>
    </li>
    <!-- /end slide 4 -->
    

    <!-- slide 5 -->
    <li class="slide5" data-transition="slotfade-horizontal" data-slotamount="5"  data-masterspeed="300">
        <!-- slide 3 main image -->
        <img alt="" src="img/slide5.jpg" />
        <div class="caption sft" data-x="15" data-y="75" data-speed="2500" data-start="1000" data-easing="easeInBack">
            <!-- slide 3 caption 1 -->
            <p class="cap-1">Falls es mal zu Problemen kommen sollte...</p>
        </div>
        <div class="caption sfl" data-x="15" data-y="115" data-speed="1500" data-start="1000" data-easing="easeInBack">
            <!-- slide 3 caption 2 -->
            <p class="cap-2"><span>Wir helfen</span><br />
            				<span>in kritischen Projekten.</span>
            </p>
        </div>
        <div class="caption sfl" data-x="15" data-y="235" data-speed="1500" data-start="1000" data-easing="easeInBack">
            <!-- slide 3 caption 3 -->
            <p class="cap-3">
            	Manchmal können Außenstehende Situationen besser beurteilen. <br />
            	Wir Helfen in enger Zusammenarbeit in den in die Schieflage geratenen Projekten. <br /> 
            </p>
            <p class="cap-3">
            	Dabei setzen wir auf unsere bewährte Prinzipien, Werkzeuge und Methoden. 
            </p>
            
        </div>
        <div class="caption sfb" data-x="660" data-y="170" data-speed="2000" data-start="1000" data-easing="easeInBack">
            <!-- slide 3 layer image 1 -->
            <img src="img/graph2_5.png" alt="" />
        </div>
    </li>
    <!-- /end slide 5 -->


</ul>
